@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["morphInfo"]</h1>

<h2>@ViewData["fuck"]</h2>

<form asp-action="generate" asp-controller="question" method="post">
    <div class="form-group">
        <label for="text">Текст:</label>
        <textarea class="form-control" rows="10" name="text" id="text-input">Многие программы специально написаны таким образом, чтобы учащиеся имели возможность доработать или оптимизировать их код. Программирование - это очень интересно. Программа для ЭВМ представляет собой описание алгоритма и данных на некотором языке программирования.Первое минус. Второе будет точно будет. Третье предложене будет вопросительное? Четвертое также - мимо! А вот пятое нормально пройдет.</textarea>
    </div>
    <button type="submit" class="btn btn-default">Генерировать  </button>
</form>