@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="generate" asp-controller="question" method="post">
    <div class="form-group">
        <label for="text">Текст:</label>
        <textarea class="form-control" rows="10" name="text" id="text-input">К локальной переменной нельзя обратиться из глобальной области видимости, потому что локальная переменная существует только в момент выполнения тела функции. Алгоритм - это точное предписание, которое определяет процесс, ведущий от исходных данных к требуемому конечному результату. Реализация представляет собой процесс поэтапного написания кодов программы на выбранном языке программирования. Совокупность спецификаций представляет собой общую логическую модель проектируемого программного обеспечения. программа при вводе просто оЖИДает ввода данных, но что именно нужно вводить не ясно. Многие программы специально написаны таким образом, чтобы учащиеся имели возможность доработать или оптимизировать их код. Программирование - это очень интересно. Программа для ЭВМ представляет собой описание алгоритма и данных на некотором языке программирования.</textarea>
    </div>
    <button type="submit" class="btn btn-default">Генерировать</button>
</form>